Customer Support AI Agent for ecommercel.json
{
  "name": "Asad-support AI Agent for ecommerce-youtube video tutorial",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -16
      ],
      "id": "a7c29b0a-fc7b-40a0-8155-61af289ee0e6",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N31K95FtfC5IwJl",
          "name": "Gmail account-johnasad"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f65d205d-f1d3-4207-aa0f-7d3a1735dba8",
              "name": "emailBody",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "6fe25791-0ad4-4ea6-8f40-de25035d5423",
              "name": "from_user",
              "value": "={{ $json.From }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -16
      ],
      "id": "112948f6-1677-408b-bb50-b7a60fbd559d",
      "name": "Email Body"
    },
    {
      "parameters": {
        "content": "## Incoming Emails\nWhenever new emails come to inbox, this will be triggered.",
        "height": 304,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        -160
      ],
      "id": "52cc3373-5bb3-4882-8d6e-fa8526cc770f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Email Classification\nThe email is classified based on promotional or custom support",
        "height": 496,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -160
      ],
      "id": "939b2c84-3df8-4729-9d6f-fd4a51d21786",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "inputText": "={{ $json.emailBody }}",
        "categories": {
          "categories": [
            {
              "category": "promotional",
              "description": "Marketing, offers, discounts, sales pitches, newsletters."
            },
            {
              "category": "support_service",
              "description": "customer inquiries, troubleshooting, complaints or help requests."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the email provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        448,
        -16
      ],
      "id": "687ec40d-ec9c-41db-abda-925e65e4d9ea",
      "name": "Email Classification"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        528,
        208
      ],
      "id": "3f84aa51-8888-405d-bc3f-e1b7e71ac972",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xGHHJB2GUZj1TcSS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email received:  {{ $json.emailBody }}\n\nFrom: {{ $json.from_user }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a helpful assistant that answers any inquiries for our agency called SOMS Media. You will be drafting email replies for the incoming queries that come through.\n\n#Tools\nSupabase Vector Store - This tool will be used to help us answer any incoming queries from users\nemail_draft - This toot wilt be used to draft any emails back to the user. Make sure to\nuse the Supabase Vector Store before using this tool.\n\n##Rules\n- ALWAYS use Supabase Vector Store before answering and drafting any emails\n- ALWAYS draft an email with an answer.\n- Keep the draft email concise and maintain a good structure.\n\n##Extra information\nMy name is Asad\n- Make sure to include that when drafting the email."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1088,
        -32
      ],
      "id": "4c066dff-03ae-4a08-be3d-1aa1b785313f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "your data in supabase vector",
        "tableName": {
          "__rl": true,
          "value": "rag_example",
          "mode": "list",
          "cachedResultName": "rag_example"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        976,
        192
      ],
      "id": "ecdad2b0-8a46-446b-9b8a-0314e1c64aa0",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "20vaDQtS97GvA7sr",
          "name": "n8n youtube rag example connection"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        976,
        368
      ],
      "id": "64b2a6ae-834b-4b83-b86b-5e233c5fcaa8",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xGHHJB2GUZj1TcSS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Retrival and Drafting an Email\nPulls the information from the vector store and draft an email to the user with the relative response.",
        "height": 672,
        "width": 656,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        -160
      ],
      "id": "82a22234-4b1b-47db-8e41-038779a568ea",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "sendTo": "={{ $json.from_user }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1264,
        192
      ],
      "id": "87f90618-8814-4cc2-84de-2e3792bf199d",
      "name": "email_draft",
      "webhookId": "9258de4d-5f5e-4d30-994b-12570d3c0683",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N31K95FtfC5IwJl",
          "name": "Gmail account-johnasad"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        -32
      ],
      "id": "1eedee45-f391-4b52-b258-1377561bd48d",
      "name": "Send a text message",
      "webhookId": "00808b4e-ead5-4b2d-aa1d-83e100befa73"
    },
    {
      "parameters": {
        "content": "## Team informing\nInform team that a new inquiry came in Gmail and the response has beed drafted.",
        "height": 336,
        "width": 384,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1520,
        -160
      ],
      "id": "be875309-b0b6-45b6-8fb1-ecbb95ae5b87",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19cc9e38d5b9d7ec",
          "threadId": "19cc9e38d5b9d7ec",
          "snippet": "whats your price range?",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 6943,
          "historyId": "6048340",
          "internalDate": "1772913647000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "asad ullah <mrastyal1122@gmail.com>",
          "Subject": "enquiry",
          "To": "johnasad09@gmail.com"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Body": {
      "main": [
        [
          {
            "node": "Email Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Classification",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Classification": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "email_draft": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0a9bbc27-407b-4d42-b705-02324de5248e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52f60d2d2b29968fc780bac4d694e490d741259297550ce2e62dc28e57bc5aff"
  },
  "id": "rVxzvknKXN1P_67auUBBl",
  "tags": []
}